.login-content {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  height: 295px;
  background: #fff;
  border-radius: 16px;
  padding: 48px 48px;
}

.login-btn-wrap {
  width: 100%;
}

.login-btn-wrap button {
  width: 100%;
}

.code-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-input {
  width: 60%;
}
.code-view {
  font-weight: 600;
  width: 35%;
  line-height: 32px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  background: #e0c3fc;  
}
.code-font {
  color: rgb(234, 67, 53);
  display: inline-block; /*设置元素旋转*/
  transform: rotate(-15deg);
}

.code-font:last-child {
  color: rgb(234, 67, 53);
  display: inline-block; /*设置元素旋转*/
  transform: rotate(45deg);
}

.code-font:first-child {
  color: rgb(234, 67, 53);
  display: inline-block; /*设置元素旋转*/
  transform: rotate(30deg);
}
