.product-list-form {
  background-color: #fff;
  padding: 16px;
}
.form-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.btn-wrap-flex {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.product-edit-table {
  margin-top: 16px;
  padding: 16px;
  background-color: #fff;
}

.table-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.video-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: calc(58vh);
}
