.sales-head-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-leftbox {
  width: 40%;
}

.content-rightbox {
  width: 20%;
  display: flex;
  align-items: center;
}

.leftbox-tips {
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto;
}

.leftbox-title {
  margin: 0 auto;
  font-size: 10px;
}
